@use './common.scss';

.auth-wrapper {
  display: flex;
  border-top: 1px solid #f1f1f1;
  justify-content: center;
  align-items: center;
  height: 82.5vh;
  // height: 100%;
  // border: 1px solid red;
  animation-name: fadein-motion;
  animation-duration: 0.5s;
  @media screen and (max-width: 768px) {
    height: 100%;
  }
}

.login-title {
  font-size: 1.5rem;
}

.form-wrapper {
  border: 1px solid #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 15px;
  width: 500px;
  height: 380px;
  box-shadow: 3px 3px 20px -18px #000;
  &.register {
    height: 600px;
  }
}

.form-inside {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-label {
  label {
    font-size: 0.9em;
  }
}

.form-input {
  outline: none;
  border: 1px solid #2b313c;
  border-radius: 15px;
  width: 300px;
  height: 40px;
  font-size: 1rem;
  padding: 0 10px;
}

.form-btn {
  border-radius: 15px;
  border: none;
  width: 300px;
  height: 35px;
  cursor: pointer;
  background-color: #2b313c;
  color: #f1f1f1;
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 1px 15px -10px #000;
  &:hover {
    background: #000;
    box-shadow: 0px 2px 20px -10px #000;
  }
}

.help-btn {
  font-size: 0.9em;
  color: #2b313c;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    opacity: 0.7;
  }
}
